<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>New Title: <input type="text" name="title"></label><br>
  <label>New Content: <input type="text" name="content"></label><br>
  <input type="submit" id="Submit">
</form>
