<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Edited Title: <input type="text" name="edited_title"></label><br>
  <label>Edited Content: <input type="text" name="edited_content"></label><br>
  <input type="submit" id="submit">
</form>
