<h2>Current Title: <%= @article.title %></h2>
<h2>Current Content: <%= @article.content %></h2>

<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Enter New Title: <input type="text" name="title"></label><br>
  <label>Enter New Content: <input type="text" name="content"></label><br>
  <input type="submit" id="Submit">
</form>
